@using Membership = Zion1.Membership.Web.UI.Models;

<h3>Members</h3>



<TelerikRootComponent>
    <TelerikDropDownList Data=GroupList
                         TextField="@nameof(Membership.Group.GroupName)"
                         ValueField="@nameof(Membership.Group.Id)"
                         DefaultText="All"
                         Width="10%"
                         OnChange="Group_OnChange"
    @bind-Value="@SelectedGroupId">
    </TelerikDropDownList>

    <TelerikGrid Pageable=true
                 PageSize="10"
                 Sortable=true
                 Data=MemberList
                 EditMode="@GridEditMode.Popup"
                 FilterMode="@GridFilterMode.FilterRow"
                 OnCreate=@CreateMember
                 OnUpdate=@UpdateMember
                 OnDelete=@DeleteMember>
        <GridToolBarTemplate>
            <GridCommandButton Command="Add" Icon="@SvgIcon.Plus">Add Member</GridCommandButton>
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn Field=@nameof(Member.Id) Visible="false" />
            <GridColumn Field=@nameof(Member.FirstName)></GridColumn>
            <GridColumn Field=@nameof(Member.LastName)></GridColumn>
            <GridColumn Field=@nameof(Member.Email)></GridColumn>
            <GridColumn Field=@nameof(Member.PhoneNumber)></GridColumn>
            <GridColumn Field=@nameof(Member.DateOfBirth)></GridColumn>
            <GridColumn Field=@nameof(Member.Address)></GridColumn>
            <GridCommandColumn Width="200px">
                <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</TelerikRootComponent>

<div>
    <TelerikNotification @ref="NotificationResult"
        HorizontalPosition="@NotificationHorizontalPosition.Center"
        VerticalPosition="@NotificationVerticalPosition.Top">
    </TelerikNotification>
</div>
