@using Membership = Zion1.Membership.Web.UI.Models;
<h3>Members</h3>
<TelerikRootComponent>
    <TelerikGrid Pageable=true
                 PageSize="10"
                 Sortable=true
                 Data=GroupList
                 EditMode="@GridEditMode.Popup"
                 FilterMode="@GridFilterMode.FilterRow"
                 OnCreate=@CreateGroup
                 OnUpdate=@UpdateGroup
                 OnDelete=@DeleteGroup>
        <GridToolBarTemplate>
            <GridCommandButton Command="Add" Icon="@SvgIcon.Plus">Add Group</GridCommandButton>
        </GridToolBarTemplate>
        <GridColumns>
            <GridColumn Field=@nameof(Membership.Group.Id) Visible="false" />
            <GridColumn Field=@nameof(Membership.Group.GroupName)></GridColumn>
            <GridColumn Field=@nameof(Membership.Group.Description)></GridColumn>
            <GridCommandColumn Width="200px" Title="Actions">
                <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">Delete</GridCommandButton>
            </GridCommandColumn>
            <GridCommandColumn Width="150px" Title="Assign Members">
                <GridCommandButton Icon="@SvgIcon.User" ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary" OnClick="OpenAssignMember">Members</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>

    <div>
        <TelerikNotification @ref="NotificationResult"
                             HorizontalPosition="@NotificationHorizontalPosition.Center"
                             VerticalPosition="@NotificationVerticalPosition.Top">
        </TelerikNotification>
    </div>


    <TelerikWindow Resizable="true"
                   Draggable="true"
                   Modal="true"
                   Top="5%"
                   Width="80%"
                   Height="90%"
    @bind-Visible="@IsOpenAssignMember">
        <WindowTitle>
            Assign Members
        </WindowTitle>
        <WindowContent>
            <SelectMember @rendermode="@RenderMode.Server" SelectedGroup="@SelectedGroup"></SelectMember>
        </WindowContent>
        <WindowActions>
            <WindowAction Name="Minimize"></WindowAction>
            <WindowAction Name="Maximize"></WindowAction>
            <WindowAction Name="Close"></WindowAction>
        </WindowActions>
        <WindowFooter>
           
        </WindowFooter>
    </TelerikWindow>

</TelerikRootComponent>