<h5>Selected Group: @SelectedGroup.GroupName</h5>

<TelerikRootComponent>
    <TelerikGrid Pageable=true
                 PageSize="10"
                 Sortable=true
                 Data=MemberList
                 SelectionMode="GridSelectionMode.Multiple"
                 @bind-SelectedItems="@SelectedMembers">
        <GridColumns>
            <GridCheckboxColumn SelectAll="true" CheckBoxOnlySelection="true"></GridCheckboxColumn>
            <GridColumn Field=@nameof(Member.Id)/>
            <GridColumn Field=@nameof(Member.FirstName)></GridColumn>
            <GridColumn Field=@nameof(Member.LastName)></GridColumn>
            <GridColumn Field=@nameof(Member.Email)></GridColumn>
            <GridColumn Field=@nameof(Member.PhoneNumber)></GridColumn>
            <GridColumn Field=@nameof(Member.DateOfBirth)></GridColumn>
            <GridColumn Field=@nameof(Member.Address)></GridColumn>
        </GridColumns>
    </TelerikGrid>

    <div>
        <TelerikButton OnClick="AssignMembersToGroup"
            ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">
            Submit
        </TelerikButton>
    </div>

    <TelerikNotification @ref="NotificationResult"
                         HorizontalPosition="@NotificationHorizontalPosition.Center"
                         VerticalPosition="@NotificationVerticalPosition.Top">
    </TelerikNotification>

</TelerikRootComponent>

<h5>Selected Items: @string.Join("; ", SelectedMembers.Select(m => m.Id).ToList())</h5>
